/*** The Sketch Cloud URL for this design is: [https://sketch.cloud/s/DZ1nj] ***/
/***=========================== GLOBAL ===========================***/
body {
  margin: 0;
  font-family: 'inter', 'Helvetica', 'Verdana', sans-serif;
  font-size: .75em;
  height: 100%;
}

.down-icon {
  height: 4px;
  margin-top: 17px;
  margin-right: 4px;
}

.green-txt {
  color: hsl(163, 72%, 41%);
  font-size: 1em;
  font-weight: bold;
}

.red-txt {
  color: hsl(356, 69%, 56%);
  font-size: 1em;
  font-weight: bold;
}

.social-icons {
  float: right;
  margin-top: 27.5px;
  margin-right: 25px;
}

.up-icon {
  height: 4px;
  margin-top: 17px;
  margin-right: 4px;
}

/***=========================== HEADER ===========================***/
header {
  background-color: hsl(225, 100%, 98%);
  min-height: 234px;
  padding-top: 10px;
  border-bottom-left-radius: 50px;
  border-bottom-right-radius: 50px;
}

hr {
  display: flex;
  align-content: center;
  margin-top: 100px;
  border-style: none;
  width: 84.5%;
  border-top-style: solid;
  border-width: 1.2px;
  border-color: #858CAD;
  visibility: hidden;
}

h1 {
  margin-bottom: 0;
  font-size: 2.2em;
}

h3 {
  font-size: 1.15em;
  margin-top: 5px;
  color: hsl(228, 12%, 44%);
}

span {
  margin: 5px 5px;
}

.top-container {
  width: 80%;
  margin: auto;
}

.page-heading {
  position: absolute;
  top: 20px;
  left: 7.75%;
}

/***=========================== TOGGLE ===========================***/
.checkbox {
  display: none;
}

.toggle {
  display: flex;
  justify-content: flex-end;
  position: absolute;
  width: 84.5%;
  right: 7.75%;
  top: 45px;
  color: #858CAD;
  font-weight: 700;
  font-size: 1.15em;
}

.toggle-text {
  color: #858CAD;
  font-weight: 800;
  font-size: 1.15em;
}

.toggle-btn {
  height: 22px;
  width: 44px;
  background-color: hsl(230, 22%, 74%);
  position: relative;
  margin-left: 12px;
  margin-top: -2px;
  cursor: pointer;
  border-radius: 20px;
}

.toggle-btn:before {
  content: '';
  position: absolute;
  background-color: #F5F7FF;
  height: 16px;
  width: 16px;
  right: 3px;
  top: 3px;
  border-radius: 50%;
  transition: all 350ms ease-out;
}

input[type=checkbox]:checked+.toggle-btn:before {
  right: 24px;
}

input[type=checkbox]:checked+.toggle-btn {
  background-image: -webkit-linear-gradient(left, hsl(210, 78%, 56%), hsl(146, 68%, 55%));
}

/***=========================== SECTION 1 ===========================***/
.top-cards {
  border-top-style: solid;
  border-top-width: 4px;
  background-color: hsl(227, 47%, 96%);
  text-align: center;
  border-radius: 2%;
  height: 216px;
  width: 23%;
  /*  flex-basis: 15%; --> For @media  */
}

.middle-container {
  display: flex;
  justify-content: space-between;
  width: 84.5%;
  margin: -110px auto;
}

.card-heading {
  display: flex;
  height: 20px;
  justify-content: center;
  padding-top: 25px;
}

.card-count {
  margin-top: 25px;
  margin-bottom: 0;
}

.desc {
  color: hsl(228, 12%, 44%);
  margin-top: 0;
  margin-bottom: 0;
  font-size: 1em;
}

.instagram-card-heading {
  display: flex;
  height: 20px;
  justify-content: center;
  padding-top: 29px;
}

.middlecard-footing {
  display: flex;
  justify-content: flex-end;
  margin-top: 15px;
  margin-right: 25px;
  float: right;
}

.main-numbers {
  font-size: 4em;
  font-weight: 900;
  margin-top: 18px;
  margin-bottom: 0;
}

.topcard-footing {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.user-txt {
  color: hsl(228, 12%, 44%);
  font-weight: bold;
  margin-left: 8px;
  margin-top: 4px;
}

/***=========================== TOP-CARD BORDERS ===========================***/
.facebook-card {
  border-color: hsl(203, 89%, 53%);
}

.twitter-card {
  border-color: hsl(195, 100%, 50%);
}

.instagram-card:before {
  content: "";
  width: 100%;
  height: 4px;
  background: -webkit-gradient(linear, left top, left bottom, from(#fdc468), to(#df4996));
  background: linear-gradient(to right, #fdc468, #df4996);
  position: absolute;
  border-top-right-radius: 6px;
  border-top-left-radius: 6px;
  left: 0;
}

.instagram-card {
  background-color: hsl(227, 47%, 96%);
  height: 220px;
  border-style: none;
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  position: relative;
}

.youtube-card {
  border-color: hsl(348, 97%, 39%);
}

/***=========================== SECTION 2 ===========================***/
h2 {
  font-size: 1.75em;
  margin-top: 5px;
  color: hsl(228, 12%, 44%);
}

.bottom-row1 {
  display: flex;
  justify-content: space-between;
  width: 84.5%;
  margin: 200px auto 0 auto;
}

.middle-cards {
  background-color: hsl(227, 47%, 96%);
  border-radius: 2%;
  height: 125px;
  width: 23%;
}

.sub-heading {
  position: absolute;
  top: 395px;
  left: 7.75%;
}

/***=========================== SECTION 2 & 3 ===========================***/
.bottom-row2 {
  display: flex;
  justify-content: space-between;
  width: 84.5%;
  margin: 30px auto 0 auto;
}

.bottom-cards {
  background-color: hsl(227, 47%, 96%);
  border-radius: 2%;
  height: 125px;
  width: 23%;
  margin-bottom: 50px;
}

.bottom-numbers {
  font-size: 2.2em;
  font-weight: bold;
  display: inline-block;
  margin-left: 25px;
  margin-top: 15px;
}

.bottom-text {
  color: hsl(228, 12%, 44%);
  font-weight: 800;
  font-size: 1.15em;
  margin-top: 30px;
  margin-left: 25px;
}

/***=========================== FOOTER ===========================***/
.attribution {
  font-size: 1.2em;
  text-align: center;
  opacity: 75%;
  color: #858CAD;
  margin: 0 5px 5px 10px;
}

a {
  opacity: 75%;
  color: grey;
}

/***=========================== HOVER STATES ===========================***/
.top-cards:hover {
  background-color: #E2E5F0;
}

.middle-cards:hover {
  background-color: #E2E5F0;
}

.bottom-cards:hover {
  background-color: #E2E5F0;
}

/***=========================== MEDIA QUERY (= or > 900px)===========================***/
@media (max-width: 900px) {
  .bottom-numbers {
    margin-left: 12.5px;
    font-size: 1.95em;
  }

  .bottom-text {
    margin-left: 12.5px;
    font-size: 1.15em;
  }

  .middlecard-footing {
    margin-right: 12.5px;
  }

  .social-icons {
    margin-right: 12.5px;
  }
}

/***=========================== MEDIA QUERY (= or > 800px)===========================***/
@media (max-width: 800px) {
  hr {
    visibility: visible;
  }

  .bottom-cards {
    width: 46%;
    margin-bottom: 20px;
  }

  .bottom-numbers {
    margin-left: 25px;
  }

  .bottom-text {
    margin-left: 25px;
  }

  .bottom-row1 {
    margin: 120px auto 0 auto;
    flex-wrap: wrap;
  }

  .bottom-row2 {
    margin: 0 auto 0 auto;
    flex-wrap: wrap;
    margin-bottom: 30px;
  }

  .middle-cards {
    width: 46%;
    margin-bottom: 20px;
  }

  .middlecard-footing {
    margin-right: 25px;
  }

  .middle-container {
    margin: -45px auto;
    flex-wrap: wrap;
  }

  .toggle {
    top: 130px;
    justify-content: space-between;
  }

  .top-cards {
    width: 46%;
    margin-bottom: 20px;
  }

  .social-icons {
    margin-right: 25px;
  }

  .sub-heading {
    top: 710px;
  }
}

/***=========================== MEDIA QUERY (= or > 600px)===========================***/
@media (max-width: 600px) {
  .bottom-row1 {
    justify-content: center;
  }

  .bottom-row2 {
    justify-content: center;
  }

  .middle-container {
    justify-content: center;
  }

  .middle-cards {
    width: 100%;
  }

  .bottom-cards {
    width: 100%;
  }

  .top-cards {
    width: 100%;
  }

  .sub-heading {
    top: 1190px;
  }
}
